hbox.title{
	background-color: #67A7E3;
	color: white;
	padding: 3px;
	font-size: 7pt;
	font-weight:bold;
}

#gdocumentlistmenu{
    width:150px;
}
#gDocsList_list{
	background-color: #FFF;
	overflow-y:auto;
}

page#gDocsList.loading > #gDocsList_list{
    background:white url(chrome://gdocsbar/content/images/loading-777.gif) no-repeat center center !important;
}
page#gDocsList.loading > #gDocsList_list > *{
	display: none;
}

gdocument{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#document);
	background: white no-repeat 5px 5px;
	padding:5px;
	border-bottom: 1px solid #EFEFEF;
	-moz-box-orient:vertical;
}
gdocument:hover{
	background-color: #cfedfe;
}
gdocument > div.folders{
	margin-left: 20px;
}
gdocument > div.folders > label{
	background-color: #cfedfe; font-size: 7pt; padding:1px 5px; -moz-border-radius:3px; margin-right: 5px; margin-left: 0px;
}
gdocument.display > *[mode=edit]{
    display:none;
}
gdocument.edit {
    background-color: #cfedfe;
    border-top: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
}

gdocument.loading > *[mode=display], gdocument.loading > *[mode=edit], gdocument.loading > *[mode=displayandedit]{
    visibility: hidden;
}
gdocument.loading{
    background:white url(chrome://gdocsbar/content/images/loading-777.gif) no-repeat center center !important;
}

gdocument.edit > *[mode=display]{
    display:none;
}

gdocument description.name{
    margin-left:25px;
    font-weight:bold;
    color:#333;
    cursor:pointer;
}
gdocument description:hover{
    border-bottom:1px solid blue;
    color:blue;
}

gdocument.doc{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_doc.gif);
}
gdocument.pres{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pres.gif);
}
gdocument.pdf{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pdf.gif);
}
gdocument.spread{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_spread.gif);
}

gdocument label.date{
    font-size:7pt;
    color:gray;
}



gicon{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gicon);
    padding:8px;
    background-image:url(chrome://gdocsbar/content/images/icon/icons_6.png);
    cursor:pointer;
    background-position: 16px center;
}
gicon.all{
    background-position: -128px center;
}
gicon.save{
    background-position: 0px center;
}
gicon.star, gicon.nostar:hover{
    background-position: -272px center;
}
gicon.share{
    background-position: -32px center;
}
gicon.hidden{
    background-position: -160px center;
}
gicon.edit{
    background-position: -144px center;
}
gicon.move, gicon.folder{
    background-position: -48px center;
}
gicon.hide{
    background-position: -64px center;
}
gicon.delete{
    background-position: -96px center;
}
gicon.nostar{
    background-position: -304px center;
}
gicon.more{
    background-position: -448px center;
}
gicon.more:hover{
    background-position: -384px center;
}

gicon.options{
    background-position: -592px center;
}
gicon.options:hover{
    background-position: -656px center;
}


gicon.down{
    background-position: -480px center;
}


gfolder{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gfolder);
    padding:5px;
    background-color:#EFEFEF;
    border-bottom:1px solid #CCC;
}
vbox#gDocsList_folders > gfolder:nth-child(2n+1){
    background-color:#000;
}
vbox#gDocsList_folders > gfolder:nth-child(2n){
    background-color:#000;
}