hbox.title{
	background-color: #67A7E3;
	color: white;
	padding: 3px;
	font-size: 7pt;
	font-weight:bold;
}

#gdocumentlistmenu{
    width:150px;
}
#gDocsList_list{
	background-color: #FFF;
	overflow-y:auto;
}

page#gDocsList.loading > #gDocsList_list{
    background:white url(chrome://gdocsbar/content/images/loading-777.gif) no-repeat center center !important;
}
page#gDocsList.loading > #gDocsList_list > *{
	display: none;
}

mybox{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#mybox);
}

gdocument{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#document);
	background: white no-repeat 25px 7px;
	padding:5px;
	border-bottom: 1px solid #EFEFEF;
	-moz-box-orient:vertical;
	-moz-box-flex:1;
}
gdocument:hover{
	background-color: #cfedfe;
}
gdocument > div.folders{
	margin-left: 0px;
	padding:5px 0 0;
}
gdocument > div.folders > label{
    background-color: rgb(133, 79, 97);
    color:white;
	font-size: 7pt; padding:1px 5px; -moz-border-radius:2px; margin-right: 5px; margin-left:0;
}

gdocument label[type=author]{
    display:none;
}
gdocument div.folders{
    display:none;
}

gdlistholder[showauthor=true] > gdocument label[type=author]{
    display:-moz-box;
}

gdlistholder[showfolders=true] > gdocument div.folders{
    display:-moz-box;
}

gdocument[checked=true]{
    background-color: #fffd98;
    border-bottom: 1px solid #CCC;
    
}

gdocument.edit {
    background-color: #cfedfe;
    border-top: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
}

gdocument.loading > *[mode=display], gdocument.loading > *[mode=edit], gdocument.loading > *[mode=displayandedit]{
    visibility: hidden;
}
gdocument.loading{
    background:white url(chrome://gdocsbar/content/images/loading-777.gif) no-repeat center center !important;
}
gdocument > *[mode=edit]{
    display:none;
}
gdocument.edit > *[mode=display]{
    display:none;
}
gdocument.edit > *[mode=edit]{
    display:-moz-box;
}

gdocument.deleted {
  background: #FF5555 no-repeat center center !important;
}

gdocument description.name{
    margin-left:25px;
    font-weight:bold;
    color:#333;
    cursor:pointer;
}
gdocument description:hover{
    border-bottom:1px solid blue;
    color:blue;
}
gdocument.folder{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_folder.gif);
}
gdocument.document{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_doc.gif);
}
gdocument.presentation, gicon.presentation{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pres.gif);
}
gdocument.pdf{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pdf.gif);
}
gdocument.spreadsheet{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_spread.gif);
}

gdocument label.date{
    font-size:7pt;
    color:gray;
}
gdocument.folder *[nonfolder=true]{
    display:none;
}

#new_document_menu{
    -moz-appearance:none;
}

#new_document_menu > menu{
    font-size:7pt !important;
    color:white;
    font-weight:bold;
}

gicon{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gicon);
    padding:8px;
    background-image:url(chrome://gdocsbar/content/images/icon/icons_6.png);
    cursor:pointer;
    background-position: 16px center;
}

gicon.document{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_doc.gif);
    background-repeat:no-repeat;
    background-position:center center;
    
}


gicon.presentation{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pres.gif);
    background-repeat:no-repeat;
    background-position:center center;
    
}
gicon.pdf{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pdf.gif);
    background-repeat:no-repeat;
    background-position:center center;
    
}
gicon.spreadsheet{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_spread.gif);
    background-repeat:no-repeat;
    background-position:center center;
    
}

gicon.loading{
    background-image:url(chrome://gdocsbar/content/images/loading-777.gif);
    background-repeat:no-repeat;
    background-position:center center;
}
gicon.success{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_success.png);
    background-repeat:no-repeat;
    background-position:center center;
}
gicon.error{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_error.png);
    background-repeat:no-repeat;
    background-position:center center;
}

gicon.logout{
    background-image:url(chrome://gdocsbar/content/images/icon/door_out.png);
    background-repeat:no-repeat;
    background-position:center center;
}

gicon.new{
    background-image:url(chrome://gdocsbar/content/images/icon/page_new.gif);
    background-repeat:no-repeat;
    background-position:center center;
}

gicon.disk{
    background-image:url(chrome://gdocsbar/content/images/icon/disk.png);
    background-repeat:no-repeat;
    background-position:center center;
}

gicon.all{
    background-position: -128px center;
}
gicon.save{
    background-position: 0px center;
}
gicon.star{
    background-position: -272px center;
    background-repeat:no-repeat;
}
gicon.share{
    background-position: -32px center;
}
gicon.hidden{
    background-position: -160px center;
}
gicon.edit{
    background-position: -144px center;
}
gicon.move, gicon.folder{
    background-position: -48px center;
}
gicon.hide{
    background-position: -64px center;
}
gicon.delete{
    background-position: -96px center;
}
gicon.nostar{
    background-repeat:no-repeat;
    
    background-position: -304px center;
}
gicon.more{
    background-position: -448px center;
}
gicon.more:hover{
    background-position: -384px center;
}
gicon.back{
    background-position: -416px center;
    background-color:white;
}

gicon.options{
    background-position: -592px center;
}
gicon.options:hover{
    background-position: -656px center;
}


gicon.down{
    background-position: -480px center;
}

gicon.search{
    background:transparent url(chrome://gdocsbar/content/images/icon/search.png) no-repeat center center;
}


gfolder{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gfolder);
    padding:5px;
    background-color:#EFEFEF;
    border-bottom:1px solid #CCC;
    cursor:pointer;
}
gfolder *[mode=new]{
    display:none;
}
gfolder[new=true] *[mode=new]{
    display:-moz-box;
}
gfolder > *, gfolder:active{
    cursor:pointer;
}
gfolder:hover{
    background-color:#FFF;
}


vbox#gDocsList_folders > gfolder:nth-child(2n+1){
    background-color:#000;
}
vbox#gDocsList_folders > gfolder:nth-child(2n){
    background-color:#000;
}

moreloader{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#moreloader);
    padding:5px;
    background-color:#EFEFEF;
    cursor:pointer !important;
    border-top:1px solid #FFF;
}
moreloader *{
    cursor:pointer !important;
}
moreloader > stack[anonid=loading]{
    display:none;
}

moreloader label{
    font-weight:bold;
    font-size:9pt;
}

moreloader.loading{
    background:#EFEFEF url(chrome://gdocsbar/content/images/loading-EFEFEF-666.gif) no-repeat 10px center;
}

moreloader.loading > stack{
    margin-left:25px;
}

moreloader.loading > stack[anonid=loading]{
    display:-moz-stack;
}
moreloader.loading > stack[anonid=stack]{
    display:none;
}



gdlistholder{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gdlistholder);
    -moz-box-orient:vertical;
    
}

gdlistholder.loading hbox.listdetail .emptytext, gdlistholder.loading hbox.listdetail .nonemptytext{
    display:none;
} 

hbox.listdetail{
    padding:5px 10px;
    border-bottom: 1px solid #aaa;
}
hbox.nonemptytext > label{
    margin-left:0px;
    color:#999;
    font-weight:bold;
}

gicon.refresh{
    background:transparent url(chrome://gdocsbar/content/images/icon/refresh.png) no-repeat center center;
}

gdsearch{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#gdsearch);
    padding:2px 5px;
    background-color:#67A7E3;
    border-bottom:1px solid #CCC;
}

radiogroup[disabled]{
    -moz-opacity:0.3;
}


gdlistholder .emptytext{
    display:none;
}

gdlistholder[empty] .emptytext{
    display:block;
}

gdlistholder[empty] .nonemptytext{
    display:none;
}

#saveas_menu > menupopup > menuitem{
    display:none;
}
#saveas_menu[kind=document] > menupopup > menuitem[document]{
    display:-moz-box;
}
#saveas_menu[kind=spreadsheet] > menupopup > menuitem[spreadsheet]{
    display:-moz-box;
}
#saveas_menu[kind=presentation] > menupopup > menuitem[presentation]{
    display:-moz-box;
}

gdfoldertreeitem{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#gdfoldertreeitem);
}

foldertree{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#treeEditable);
    -moz-box-orient:vertical;
}

gdupdocument{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#gdupdocument);
    -moz-box-orient:vertical;
    padding:5px 10px;
    background-color:white;
    border-bottom:1px solid #eee;
}
gdupdocument[status=uploading] .success, gdupdocument[status=uploading] .error, gdupdocument[status=success] .uploading, gdupdocument[status=error] .uploading,
gdupdocument[status=success] .error, gdupdocument[status=error] .success
{
    display:none;
}



gdupdocument[status=success]{
    background-color:#fff6a8;
    border-bottom:1px solid #ccc;
    border-top:1px solid #FFF;
}
extendedrichlistbox{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#extendedrichlistbox);
    -moz-box-orient:vertical;
    background:white url(chrome://gdocsbar/content/images/1242938347_box_upload_48.png) no-repeat center center;
}


#loginbox{
    background-color:white;
    padding:5px;
    margin:10px;
    -moz-border-radius:5px;
    border-top:1px solid #CCC;
    border-left:1px solid #CCC;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
}

#loginbox > .header{
    background-color:#67A7E3;
    margin:-5px -5px;
    padding:5px;
    margin-bottom:10px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
}


#topmenu{
    border-bottom:1px solid #67A7E3;
}

#topmenu > label{
    border-left:1px solid #FFF;
    border-top:1px solid #FFF;
    border-right:1px solid #CCC;
    margin:0;
    padding:5px 5px;
    color:#999;
    cursor:pointer;
}
#topmenu > label:hover{
    color:#000;
}

#topmenu > label[selected]{
    font-weight:bold;
    border-left:none;
    border-top:none;
    background-color:#67A7E3;
    color:#000;
    padding:5px 10px;
}

#le_holder > description{
    color:red;
    margin:5px 5px 10px;
    padding:5px;
    -moz-border-radius:3px;
    
}

label.back{
    background:rgba(255,255,255,0.7) url(chrome://gdocsbar/content/images/icon/back.png) no-repeat center center;
    margin:0 5px 0 0;
    padding:2px 5px 2px 16px;
    color:black;
    -moz-border-radius:2px;
    cursor:pointer;
}

label.back:hover{
    background-color:white;
}

#gDocsList_folders_title > label.back{
    display:none;
}

#gDocsList_folders_title[folder] > label.back{
    display:-moz-box;
}

#gDocsList_folders_loading{
    padding:5px;
    background-color:white;
    color:#666;
    border-top:1px solid #CCC;
}

#gDocsList_folders_label{
    cursor:pointer;
}