hbox.title{
	background-color: #67A7E3;
	color: white;
	padding: 3px;
	font-size: 7pt;
	font-weight:bold;
}

#gdocumentlistmenu{
    width:150px;
}
#gDocsList_list{
	background-color: #FFF;
	overflow-y:auto;
}

page#gDocsList.loading > #gDocsList_list{
    background:white url(chrome://gdocsbar/content/images/loading-777.gif) no-repeat center center !important;
}
page#gDocsList.loading > #gDocsList_list > *{
	display: none;
}

gdocument{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#document);
	background: white no-repeat 5px 5px;
	padding:5px;
	border-bottom: 1px solid #EFEFEF;
	-moz-box-orient:vertical;
}
gdocument:hover{
	background-color: #cfedfe;
}
gdocument > div.folders{
	margin-left: 20px;
}
gdocument > div.folders > label{
	background-color: #cfedfe; font-size: 7pt; padding:1px 5px; -moz-border-radius:3px; margin-right: 5px; margin-left: 0px;
}

gdocument.edit {
    background-color: #cfedfe;
    border-top: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
}

gdocument.loading > *[mode=display], gdocument.loading > *[mode=edit], gdocument.loading > *[mode=displayandedit]{
    visibility: hidden;
}
gdocument.loading{
    background:white url(chrome://gdocsbar/content/images/loading-777.gif) no-repeat center center !important;
}
gdocument > *[mode=edit]{
    display:none;
}
gdocument.edit > *[mode=display]{
    display:none;
}
gdocument.edit > *[mode=edit]{
    display:-moz-box;
}

gdocument.deleted {
  background: #FF5555 no-repeat center center !important;
}

gdocument description.name{
    margin-left:25px;
    font-weight:bold;
    color:#333;
    cursor:pointer;
}
gdocument description:hover{
    border-bottom:1px solid blue;
    color:blue;
}

gdocument.document{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_doc.gif);
}
gdocument.presentation, gicon.presentation{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pres.gif);
}
gdocument.pdf{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_pdf.gif);
}
gdocument.spreadsheet{
    background-image:url(chrome://gdocsbar/content/images/icon/icon_4_spread.gif);
}

gdocument label.date{
    font-size:7pt;
    color:gray;
}



gicon{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gicon);
    padding:8px;
    background-image:url(chrome://gdocsbar/content/images/icon/icons_6.png);
    cursor:pointer;
    background-position: 16px center;
}
gicon.all{
    background-position: -128px center;
}
gicon.save{
    background-position: 0px center;
}
gicon.star{
    background-position: -272px center;
}
gicon.share{
    background-position: -32px center;
}
gicon.hidden{
    background-position: -160px center;
}
gicon.edit{
    background-position: -144px center;
}
gicon.move, gicon.folder{
    background-position: -48px center;
}
gicon.hide{
    background-position: -64px center;
}
gicon.delete{
    background-position: -96px center;
}
gicon.nostar{
    background-position: -304px center;
}
gicon.more{
    background-position: -448px center;
}
gicon.more:hover{
    background-position: -384px center;
}
gicon.back{
    background-position: -416px center;
    background-color:white;
}

gicon.options{
    background-position: -592px center;
}
gicon.options:hover{
    background-position: -656px center;
}


gicon.down{
    background-position: -480px center;
}

gicon.search{
    background:transparent url(chrome://gdocsbar/content/images/icon/search.png) no-repeat center center;
}


gfolder{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gfolder);
    padding:5px;
    background-color:#EFEFEF;
    border-bottom:1px solid #CCC;
    cursor:pointer;
}
gfolder > *, gfolder:active{
    cursor:pointer;
}
gfolder:hover{
    background-color:#FFF;
}


vbox#gDocsList_folders > gfolder:nth-child(2n+1){
    background-color:#000;
}
vbox#gDocsList_folders > gfolder:nth-child(2n){
    background-color:#000;
}

moreloader{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#moreloader);
    padding:5px;
    background-color:#EFEFEF;
    cursor:pointer !important;
    border-top:1px solid #FFF;
}
moreloader *{
    cursor:pointer !important;
}
moreloader > stack[anonid=loading]{
    display:none;
}

moreloader label{
    font-weight:bold;
    font-size:9pt;
}

moreloader.loading{
    background:#EFEFEF url(chrome://gdocsbar/content/images/loading-EFEFEF-666.gif) no-repeat 10px center;
}

moreloader.loading > stack{
    margin-left:25px;
}

moreloader.loading > stack[anonid=loading]{
    display:-moz-stack;
}
moreloader.loading > stack[anonid=stack]{
    display:none;
}



gdlistholder{
    -moz-binding:url(chrome://gdocsbar/content/styles/bindings.xml#gdlistholder);
    -moz-box-orient:vertical;
    
}

gdlistholder.loading hbox.listdetail .emptytext, gdlistholder.loading hbox.listdetail .nonemptytext{
    display:none;
} 

hbox.listdetail{
    padding:5px 10px;
    border-bottom: 1px solid #aaa;
}
hbox.nonemptytext > label{
    margin-left:0px;
    color:#999;
    font-weight:bold;
}

gicon.refresh{
    background-image:url(chrome://gdocsbar/content/images/icon/refresh.png);
}

gdsearch{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#gdsearch);
    padding:2px 5px;
    background-color:white;
}

radiogroup[disabled]{
    -moz-opacity:0.3;
}


gdlistholder .emptytext{
    display:none;
}

gdlistholder[empty] .emptytext{
    display:block;
}

gdlistholder[empty] .nonemptytext{
    display:none;
}

#saveas_menu > menupopup > menuitem{
    display:none;
}
#saveas_menu[kind=document] > menupopup > menuitem[document]{
    display:-moz-box;
}
#saveas_menu[kind=spreadsheet] > menupopup > menuitem[spreadsheet]{
    display:-moz-box;
}
#saveas_menu[kind=presentation] > menupopup > menuitem[presentation]{
    display:-moz-box;
}

gdfoldertreeitem{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#gdfoldertreeitem);
}

foldertree{
    -moz-binding: url(chrome://gdocsbar/content/styles/bindings.xml#treeEditable);
    -moz-box-orient:vertical;
}